# Config file
inc/config.php

# Data
tpr/
maps/data/
maps/tiles/
maps/png/

# Exporter
export/download
export/update

# Non-public files
dbc/scripts/hook.php

# Sublime files
sftp-config.json

# Bugsnag
inc/bugsnag/*

# Composer
composer.json
composer.lock
vendor

# Psalm
psalm.xml