.table{
	font-size: 13px;
}

#files{
	font-size: 13px;
}

#dbtable{
	font-size: 13px;
}

#files_filter{
	float:left;
	position: absolute;
	left: -150px;
}

#dbtable_filter{
	float:left;
	position: absolute;
	left: -150px;
}

#dbtable tbody tr.highlight{
	background-color: #ff00003d;
}

#files tbody tr td:empty{
	background-color: #ff5858;
}

#chashtable tbody tr td:empty{
	background-color: #ff5858;
}

#files_processing{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#files tbody tr td table {
	color: var(--text-color);
}

#files tbody tr td table.th{
	border: 0px;
}