body{
	height: 100%;
}

#maps{
	height: 100%;
}

.map-canvas {
	width: 100%;
	height: calc(100% - 35px);
	z-index: 0;
}

.copyright {
	position: absolute;
	left: 70px;
	bottom: 5px;
	width: 50px;
	z-index: 1;
}

.copyright img {
	height: 16px;
}

.layerbutton {
	position: absolute;
	cursor: pointer;
	top: 70px;
	right: 10px;
	width: 46px;
	height: 46px;
	border: 0;
	background-color: rgba(255, 255, 255, 0.3);
	transition: background-color 0.1s ease;
	border-radius: 50%;
	outline: none;
	z-index: 2;
}

.layerbutton:hover,
.layerbutton:focus {
	background-color: #64B5F6;
}

.hamburger {
	position: absolute;
	cursor: pointer;
	top: 70px;
	left: 260px;
	width: 46px;
	height: 46px;
	border: 0;
	background-color: rgba(255, 255, 255, 0.3);
	transition: background-color 0.1s ease;
	border-radius: 50%;
	outline: none;
	z-index: 2;
}

.hamburger:hover,
.hamburger:focus {
	background-color: #64B5F6;
}

.hamburger .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	background-color: black;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
}

.hamburger .icon-bar + .icon-bar {
	margin-top: 4px;
}

.hamburger.closed{
	left: 10px;
}

.sidebar {
	top: 57px;
	left: 0;
	width: 250px;
	height: 175px;
	border-bottom-right-radius: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	transition: left 0.3s ease-out;
}

.sidebar.closed {
	left: -250px;
}

.sidebar select {
	height: 32px;
	margin: 0;
	border: 0;
	outline: 0;
	background-color: transparent;
	border-bottom: 1px solid #333;
	color: var(--text-color);
	font-size: 14px;
}

.sidebar select option{
	background-color: var(--background-color);
}

.version-arrow {
	width: 15%;
	height: 32px;
	font-size: 16px;
	color: var(--text-color);
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #333;
	outline: none;
	cursor: pointer;
}

.sidebar select:disabled,
.version-arrow:disabled {
	cursor: not-allowed;
	color: black;
	border-bottom: 1px dotted gray;
}

.techdetails{
	top: 370px;
	left: 0px;
	width: 250px;
	height: 100px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	font-size: 12px;
	transition: left 0.3s ease-out;
}

.techdetails.closed{
	left: -250px;
}

.overlay{
	background-color: var(--background-color);
	position: absolute;
	z-index: 1;
	overflow: auto;
}

.layers{
	top: 57px;
	right: 0px;
	width: 250px;
	height: 120px;
	border-bottom-left-radius: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	transition: right 0.3s ease-out;
}

.layers.closed {
	right: -250px;
	display: none;
}

#js-map-select {
	width: 100%;
}

#js-version-select {
	margin-left: 2%;
	margin-right: 2%;
	width: 66%;
}

.leaflet-container {
	background-color: #001D28;
};

.leaflet-control-minimap{border:rgba(255,255,255,1) solid;box-shadow:0 1px 5px rgba(0,0,0,.65);border-radius:3px;background:#f8f8f9;transition:all .2s}.leaflet-control-minimap a{background-color:rgba(255,255,255,1);background-repeat:no-repeat;z-index:99999;transition:all .2s}.leaflet-control-minimap a.minimized-bottomright{-webkit-transform:rotate(180deg);transform:rotate(180deg);border-radius:0}.leaflet-control-minimap a.minimized-topleft{-webkit-transform:rotate(0deg);transform:rotate(0deg);border-radius:0}.leaflet-control-minimap a.minimized-bottomleft{-webkit-transform:rotate(270deg);transform:rotate(270deg);border-radius:0}.leaflet-control-minimap a.minimized-topright{-webkit-transform:rotate(90deg);transform:rotate(90deg);border-radius:0}.leaflet-control-minimap-toggle-display{background-image:url(/img/toggle.svg);background-size:cover;position:absolute;border-radius:3px 0 0}.leaflet-oldie .leaflet-control-minimap-toggle-display{background-image:url(/img/toggle.png)}.leaflet-control-minimap-toggle-display-bottomright{bottom:0;right:0}.leaflet-control-minimap-toggle-display-topleft{top:0;left:0;-webkit-transform:rotate(180deg);transform:rotate(180deg)}.leaflet-control-minimap-toggle-display-bottomleft{bottom:0;left:0;-webkit-transform:rotate(90deg);transform:rotate(90deg)}.leaflet-control-minimap-toggle-display-topright{top:0;right:0;-webkit-transform:rotate(270deg);transform:rotate(270deg)}.leaflet-oldie .leaflet-control-minimap{border:1px solid #999}.leaflet-oldie .leaflet-control-minimap a{background-color:#fff}.leaflet-oldie .leaflet-control-minimap a.minimized{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}

.poiatlas{
	background-image: url('/maps/css/images/poiIcons.png');
	background-repeat: no-repeat;
	background-position: 16px 16px;
}