#files tr td:nth-child(2), #files tr td:nth-child(3){
    font-family: monospace;
    text-overflow: ellipsis;
}

#files_buttons{
    position: absolute;
    top: 73px;
    left: 190px;
    z-index: 2;
}