#files tr td:nth-child(2), #files tr td:nth-child(3){
    font-family: monospace;
    text-overflow: ellipsis;
}

#files_buttons{
    position: absolute;
    top: 73px;
    left: 190px;
    z-index: 2;
}

.modal-body table.table td{
	padding: 5px;
}

#moreInfoModal{
	-webkit-overflow-scrolling: touch;
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
	#files_length{
		text-align: left; /* float pagination sizes left */
	}

	#files_buttons {
		position: relative; /* auto align allowing button stacking */
		display: inline-grid; /* child stacking */
		margin-bottom: .5em;
		top: 0;
		left: 0;
		width: 100%;
	}

	#files_buttons > .btn {
		margin-bottom: .25em;
		width: 100%;
		margin-right: 5px;
	}

	#files_buttons .btn{
		line-height: 1;
		font-size: 0.8rem;
	}

	.dropdown-toggle-split{
		max-width: 50px;
	}

	#files tr td:nth-child(2) {
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#files tr td:nth-child(2):hover {
		max-width: 200px;
		white-space: nowrap;
		overflow-x: scroll;
		text-overflow: initial;
	}

	#files tr th:nth-child(3), #files tr td:nth-child(3), #files tr th:nth-child(4), #files tr td:nth-child(4) {
		display: none;
	}
}