#tableContainer{
	margin-top: -20px;
}

#dbcform{
	float: left;
}

#fileFilter{
	float: left;
	width: 225px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
}

#buildFilter{
	float: left;
	width: 225px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
}

#browseButton{
	float: left;
	width: 100px;
	display: inline-block;
	margin-left: 5px;
	color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

#downloadCSVButton{
	float: left;
	width: 75px;
	display: inline-block;
	margin-left: 5px;
}

#dbtable{
	margin: auto;
}

/* For when you pick the datatables DBC selection experiment back up :) */

/*
#dbcfiles thead th{
	padding: 0px;
}

#dbcfiles tr td{
	padding-left: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
	border: 0px;
}

#dbcfiles{
	max-height: 500px;
	border: 0px;
}

#dbcfiles_processing{
	display: none !important;
	color: var(--text-color);
	background-color: var(--background-color);
	width: 200px;
	border: 1px solid var(--border-color);
}

.dataTables_scrollBody .dts_label{
	display: none;
}

#dbcfiles_filter {
    text-align: left;
}

tr.selected{
    background-color: #8bc34aa1 !important;
    transition: background-color 0.1s ease-out;
}
*/