#tableContainer{
	clear: both;
	margin-top: -20px;
}

#dbcform{
	float: left;
}

#fileFilter{
	float: left;
	width: 225px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
}

.buildFilter{
	float: left;
	width: 125px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
}

#browseButton{
	float: left;
	width: 100px;
	display: inline-block;
	margin-left: 5px;
	color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

#downloadCSVButton{
	float: left;
	width: 75px;
	display: inline-block;
	margin-left: 5px;
}

#dbtable{
	margin: auto;
}

.added, .diff-added {
	background: var(--diff-added-color) !important;
	text-decoration: none;
}

.removed, .diff-removed {
	background: var(--diff-removed-color) !important;
	text-decoration: line-through;
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
	#fileFilter, #buildFilter, #dbcform {
		width: 100%; /* asthetic reasons */
	}

	#dbtable_length, #dbtable_filter {
		text-align: left; /* float pagination sizes left */
	}

	#dbtable_wrapper {
		display: inline-block; /* auto align allowing db table stacking */
	}

	#dbcform {
		margin-bottom: .5em;
	}
}